@media screen and (max-width: 576px) {
  #nav_bar {
    padding: 20px;
  }
  .logo_part h1 {
    font-size: 20px;
  }
  .menu_item_part {
    display: none;
  }
  #hero_part {
    padding: 20px;
  }

  .respons_icon {
    display: block;
    display: flex;
    align-items: center;
  }
  .banner_part {
    padding: 30px 24px;
  }

  .banner_part h2 {
    font-size: 20px;
  }
  .banner_part p {
    font-size: 14px;
  }

  .hero_feature {
    flex-direction: column;
  }

  .btn_u {
    display: flex;
    justify-content: center;
  }

  #tour_part,
  #perfect_place_part {
    padding: 20px 20px;
  }
  .tour_container,
  .perfect_container {
    flex-direction: column;
  }

  .tour_text,
  .perfect_text {
    max-width: 100%;
  }

  .tour_text h1 {
    font-size: 20px;
  }

  .tour_img,
  .perfact_video {
    max-width: 100%;
    padding-top: 24px;
  }

  #destination_part {
    padding: 0 20px;
  }

  .destination_heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .destination_heading h1 {
    font-size: 20px;
  }
  .destination_heading p {
    width: 309px;
  }

  .box1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .box2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .box3 {
    grid-template-columns: repeat(1, 1fr);
  }

  #service_part {
    padding: 20px 20px;
  }
  .service_heading h1 {
    font-size: 20px;
  }

  .service_heading p {
    width: 310px;
  }

  #deals_part {
    padding: 0 20px;
  }

  .deals_heading h1 {
    font-size: 20px;
  }
  .deals_heading p {
    width: 310px;
  }

  .tour_discount_center,
  .tour_discount {
    padding: 16px;
  }
  .tour_discount_deals {
    padding: 25px;
    width: 100%;
    height: 100%;
  }

  .tdpl {
    display: block;
  }

  .tour_discount_deals p {
    padding: 5px;
  }

  .fa-clock,
  .fa-users,
  .fa-location-dot {
    margin-right: 15px;
  }

  .Packages_btn {
    display: none;
  }

  .perfect_container {
    display: block;
  }

  .perfect_text {
    width: 100%;
  }

  .perfect_text h2 {
    font-size: 20px;
  }

  .perfact_video {
    width: 100%;
  }
  .vid_tag {
    width: 100%;
  }

  #newsletter_part {
    padding: 20px;
  }
  .newsletter_container {
    flex-direction: column;
    align-items: center;
  }

  .news_latter_from {
    width: 100%;
    padding: 20px;
  }
  .news_latter_from .enter_mail {
    width: 100%;
  }

  .btn_Subscribe {
    width: 100%;
  }

  .news_latter_from .enter_name {
    width: 100%;
  }

  .news_latter_discount {
    width: 100%;
    height: 300px;
    border-radius: 16px;
  }
  .news_latter_discount .discount {
    width: 200px;
    padding: 10px;
    top: 27%;
    left: 27%;
  }
  .discount p {
    font-size: 16px;
  }
  .discount h4 {
    font-size: 20px;
  }

  #footer_part {
    padding: 30px 20px;
    text-align: center;
  }

  .footer_descprition {
    width: 280px;
  }



  
}
